<div class="flex justify-center w-full mb-8">
  <div class="grid grid-cols-3 w-1/2 bg-gray-300 rounded-md font-medium">
    <button class="w-full h-full text-center py-1 bg-white border shadow-md rounded-md">Similarity Search</button>
    <button class="w-full h-full text-center py-1 text-neutral-800 border-gray-600 border-r">Image Search</button>
    <button class="w-full h-full text-center py-1 text-neutral-800 border-gray-600">Multi Level Search</button>
  </div>
</div>

<div class="relative h-max">
  <input class="w-full p-4 rounded-md shadow-md outline-none border">
  <button class="absolute right-0 top-0 h-full w-20 flex items-center justify-center rounded-r-md bg-neutral-900 text-white font-bold">GO</button>
</div>
