<div class="grid grid-cols-4 gap-4 mb-8">
  <div class="h-32 w-full border shadow-md rounded-md flex flex-col items-center justify-center">
    <dt class="mb-2 text-3xl font-extrabold">1</dt>
    <dd class="text-gray-600">Index</dd>
  </div>
  <div class="h-32 w-full border shadow-md rounded-md flex flex-col items-center justify-center">
    <dt class="mb-2 text-3xl font-extrabold">560</dt>
    <dd class="text-gray-600">Entries</dd>
  </div>
  <div class="h-32 w-full border shadow-md rounded-md flex flex-col items-center justify-center">
    <dt class="mb-2 text-3xl font-extrabold">300 Mb</dt>
    <dd class="text-gray-600">Total Size</dd>
  </div>
  <div class="h-32 w-full border shadow-md rounded-md flex flex-col items-center justify-center">
    <dt class="mb-2 text-3xl font-extrabold">1</dt>
    <dd class="text-gray-600">Index</dd>
  </div>
</div>

<div class="grid grid-cols-2 gap-4">
  <div class="h-max w-full border shadow-md rounded-md p-4">
    <dl class="flex w-w-full h-10">
      <dt class="mb-2 text-lg font-bold">Requests</dt>
    </dl>
    <img src="https://placehold.co/800x500">
  </div>

  <div class="h-max w-full border shadow-md rounded-md p-4">
    <dl class="flex w-w-full h-10">
      <dt class="mb-2 text-lg font-bold">Response Time</dt>
    </dl>
    <img src="https://placehold.co/800x500">
  </div>
</div>
