<div class="grid grid-cols-4 gap-4">
  <div class="h-32 w-full border shadow-md rounded-md flex flex-col items-center justify-center">
    <dt class="mb-2 text-3xl font-extrabold">1</dt>
    <dd class="text-gray-600">Index</dd>
  </div>
  <div class="h-32 w-full border shadow-md rounded-md flex flex-col items-center justify-center">
    <dt class="mb-2 text-3xl font-extrabold">560</dt>
    <dd class="text-gray-600">Entries</dd>
  </div>
  <div class="h-32 w-full border shadow-md rounded-md flex flex-col items-center justify-center">
    <dt class="mb-2 text-3xl font-extrabold">1</dt>
    <dd class="text-gray-600">Index</dd>
  </div>
  <div class="h-32 w-full border shadow-md rounded-md flex flex-col items-center justify-center">
    <dt class="mb-2 text-3xl font-extrabold">1</dt>
    <dd class="text-gray-600">Index</dd>
  </div>
</div>
