<div class="grid col-span-1 gap-4">
  <div class="flex justify-between">
    <div class="relative h-full w-1/3">
      <input class="w-full px-4 py-2 rounded-md shadow-md outline-none border">
      <button class="absolute right-0 top-0 h-full w-20 flex items-center justify-center rounded-r-md bg-neutral-900 text-white font-bold">Search</button>
    </div>
    <div class="flex items-center justify-end h-10 w-1/3">
      <button class="h-full px-2 py-1 bg-white font-medium text-neutral-900 border shadow-md rounded-md">Ξ Sort by</button>
    </div>
  </div>

  <app-index-entry indexName="Index 1" url="https://link.com/" entries="1" size="100 Kb" replicas="1"></app-index-entry>
  <app-index-entry indexName="Index 2" url="https://link.com/" entries="1" size="100 Kb" replicas="1"></app-index-entry>
  <app-index-entry indexName="Index 3" url="https://link.com/" entries="1" size="100 Kb" replicas="1"></app-index-entry>
</div>
