<div class="w-full bg-neutral-900 h-16 flex items-center justify-between text-white px-[10vw] mb-8">
  <button routerLink="/dashboard" class="text-lg font-medium">Vector Vault</button>
  <div class="flex gap-8 underline-offset-4">
    <button routerLink="/dashboard" routerLinkActive="font-medium underline">Dashboard</button>
    <button routerLink="/indices" routerLinkActive="font-medium underline">Index</button>
    <button routerLink="/entries" routerLinkActive="font-medium underline">Entries</button>
    <button routerLink="/search" routerLinkActive="font-medium underline">Search</button>
    <button>API Reference</button>
  </div>
</div>
